.commonLeftMenu{
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    width:200px;
    text-align: center;
    background-color: #323340;
    .title{
        padding:20px 0;
        color: #FFF;
    }
    .Allmenu{
      position:absolute;
      top: 60px;
      bottom:0;
      width: 100%;
      background-color:#323340;
      overflow-x: hidden;
      overflow-y: auto;
      ul{
        margin-top: 20px;
        li{
            height: 40px;
            font-size: 18px;
            line-height: 40px;
            margin-bottom: 15px;
            padding: 5px 0;
            a{
                color:rgb(135, 136, 143);
                text-decoration: none;
                display:block;
                width:100%;
            }
        }
      }  
    }
    .active{
        background-color:#0077fb!important;
        a{
          color: #FFF!important;  
        }
        
    }
    
}
.navHeader{
    height: 50px;
    width: 100%;
    background-color:#0077fb;
    display: flex;
    align-items:center;
    justify-content:space-between;
    position:relative;
    .navLeft{
        margin-left: 30px;
        color: #FFFFFF;
        span{
            display: inline-block;  
            &:first-child{
                width: 80px;
                height:30px;
                line-height: 27px;
                font-size: 20px;
                margin-right: 5px;
            }
            &:last-child{
                width: 120px;
                height: 20px;
                line-height: 25px;
                font-size: 14px;
                margin-left: 5px;
                padding-left:5px;
                border-left: 1px solid #FFFFFF;
            }
        }
    }
    .navRight{
        margin-right: 40px;
        color: #FFFFFF;
        span{
            display: inline-block;  
            width: 80px;
            height: 20px;
            font-size: 14px;
        }
        i{
            content: '';
            width: 0;
            height: 0;
            border-style: solid dashed dashed;
            border-color: #fff transparent transparent;
            overflow: hidden;
            cursor: pointer;
            transition: all .2s;
            -webkit-transition: all .2s;
            position: absolute;
            top: 23px;
            right: 28px;
            border-width: 6px;
            border-top-color: rgba(255,255,255,.7)
        }
        i:hover{
            margin-top: -9px;
            border-style: dashed dashed solid;
            border-color: transparent transparent #fff
        }
    }
    .userMask{
        position:absolute;
        right: 22px;
        top: 40px;
        width: 80px;
        height: 30px;
        background:#FFFFFF;
        z-index: 999;
        border:1px solid #F3F3F3;
        border-radius:3px;
        li{
            list-style: none;
            text-align: center;
            line-height: 30px;
            color: #A6A6A6;
        }
        &:after{
            border:7px solid transparent;
            border-bottom-color:#fff;
            top: -14px;
            right: 25px;
            left: auto;
            position:absolute;
            content: "";
        }
    }
}

@media screen and (max-width:768px){
    .commonLeftMenu{
        display: none;
    }
}