//全局公共样式
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; } 
.allStock{
    display: flex;
}
.rightContent{
    display: flex;
    flex-direction: column;
}
.rightContent{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 200px;
    right: 0;
    background:#f0f0f0;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    .rightHeader{
    	width: 100%;
    	height: 60px;
    	background: #FFFFFF;
    	display: flex;
    	align-items:center;
    	span{
    		display: block;
    		width: 100px;
    		height: 20px;
    		line-height: 20px;
    		border-left:4px solid #0077fb;
    		margin-left: 15px;
    		padding-left: 5px;
    	}
    }
    .dataContent{
    	width: 98%;
    	margin: 0 auto;
    	margin-top: 20px;
    	background: #FFFFFF;
    	overflow-y: auto;
    	.optContent{
    		width: 95%;
            margin: 0 auto;
    		height: 50px;
    		margin-top: 20px;
            display: flex;
            align-items:center;
            .search{
                width: 120px;
                height: 30px;
                font-size: 12px;
                border:1px solid rgba(0,0,0,0.2);
                border-radius:5px;
                color: #000000;
                text-indent: 3px;
                cursor: pointer;
                outline: none;
                margin-right: 15px;
            }
            .opt{
                width: 95%;
                display: flex;
                align-items:center;
                .searchSelect{
                    width: 120px;
                    height: 30px;
                    font-size: 12px;
                    border:1px solid rgba(0,0,0,0.2);
                    border-radius:5px;
                    color: #000000;
                    text-indent: 3px;
                    cursor: pointer;
                    outline: none;
                }
                .searchValue{
                    width: 150px;
                    height: 26px;
                    font-size: 12px;
                    border:1px solid rgba(0,0,0,0.2);
                    border-radius:5px;
                    color: #000000;
                    text-indent: 3px;
                    margin-left: 10px;
                    outline: none;
                }
                .enterBtn{
                    width: 60px;
                    height: 24px;
                    background:#2B79D9;
                    color: #FFFFFF;
                    border-radius:3px;
                    text-align: center;
                    line-height: 24px;
                    font-size: 12px;
                    margin-left: 15px;
                    border:1px #2B79D9 solid;
                    cursor: pointer;
                }
                .clear{
                    background:#FEFEFE!important;
                    color: #000000!important;
                    border:1px #807575 solid;
                }
                .DateInput{
                    width: 120px;
                    height: 25px;
                    font-size: 12px;
                    border:1px solid rgba(0,0,0,0.2);
                    border-radius:5px;
                    color: #000000;
                    text-indent: 3px;
                    outline: none;
                }
                .lastBtn{
                    margin-left: auto;
                }
                .isDelete{
                    background-color:red!important;
                    border:1px solid red!important;
                }
            }
            
    	}
        .twoLine{
            margin-top:5px;
            .enterBtn2{
                width: 60px;
                height: 24px;
                background:#2B79D9;
                color: #FFFFFF;
                border-radius:3px;
                text-align: center;
                line-height: 24px;
                font-size: 12px;
                margin-right: 15px;
                border:1px #2B79D9 solid;
                cursor: pointer;
            }
        }
		table{
			width: 95%;
			margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 50px;
			font-size: 12px;
            border-left:1px solid #e6e6e6;
            border-top:1px solid #e6e6e6;
			tr{
				th{
					background:#FAFAFA;
					border:1px solid #ececec;
					height: 40px;
					line-height: 40px;
					text-align: left;
					text-indent:15px;
                    border-top:none;
                    border-left:none;
				}
				td{
					border:1px solid #e6e6e6;
					height: 35px;
					line-height: 35px;
					text-indent:15px;
                    border-top:none;
                    border-left:none;
                }
                .deleteFlag{
                    color:#e4393c;
                }
                .showInput{
                    display:block;
                }
                .hideInput{
                    display:none;
                }
			}
            .total{
                td{
                    border:1px solid #e6e6e6;
                    border-top:none;
                    border-left:none;
                    background:#F2F2F2;
                    height: 35px;
                    line-height: 35px;
                    text-indent:15px;
                }
            }
		}
    }
}


.showSupplier{
    .alertBox{
        position:fixed;
        width: 500px;
        height: 320px;
        background:#FFFFFF;
        top: 30%;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 999999;
        padding:5px 10px;
        .alertTitle{
            display: block;
            width: 100px;
            height: 20px;
            line-height: 20px;
            border-left:4px solid #1AA194;
            padding-left: 5px;
            margin-top: 5px;
        }
        .showContent{
            width: 100%;
            height: 210px;  
            overflow-y: scroll;
            overflow-x: hidden;
            margin-top: 20px;
            li{
                list-style: none;
                width: 70px;
                height: 25px;
                background:#1AA194;
                border:1px solid #E7EAED;
                color: #FFFFFF;
                padding: 2px 10px;
                margin-right: 20px;
                margin-left: 10px;
                margin-top: 10px;
                line-height: 25px;
                text-align: center;
                border-radius:5px;
                font-size: 12px;
                float: left;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space:nowrap;
            }
        }
        .showContent::-webkit-scrollbar{
            width:5px;
            height:200px;
        }
        .showContent::-webkit-scrollbar-track{
            -webkit-box-shadow:inset0 06px rgba(0,0,0,0.3);
            border-radius:10px;
            background-color:#F5F5F5;
        }
        .showContent::-webkit-scrollbar-thumb{
            border-radius:10px;
            -webkit-box-shadow: inset0 06px rgba(0,0,0,.3);
            background-color:#555;
        }
        .inputContent{
            display: flex;
            align-items:center;
            margin-top: 30px;
            input{
                width: 150px;
                height: 26px;
                font-size: 12px;
                border:1px solid rgba(0,0,0,0.2);
                border-radius:5px;
                color: #000000;
                text-indent: 3px;
                margin-left: 10px;
                outline: none;
            }
            input::placeholder{
                color: #ccc;
            }
            .enterBtn{
                width: 60px;
                height: 24px;
                background:#1AA194;
                color: #FFFFFF;
                border-radius:3px;
                text-align: center;
                line-height: 24px;
                font-size: 12px;
                margin-left: 15px;
                border:1px #1AA194 solid;
                cursor: pointer;
            }
        }
    }
    .mask{
        position:fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background:rgba(0,0,0,0.2);
        z-index: 99990;
    }
}


.allStockIndex{
    width: 100%;
    text-align: center;
    font-size: 22px;
}
.number{
    #goods_number{
        width:60%!important;
    }
    button{
        margin :0!important;
        font-size :12px!important;
        padding:2px 4px !important;
    }
}