body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.allStock {
  display: flex;
}
.rightContent {
  display: flex;
  flex-direction: column;
}
.rightContent {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 200px;
  right: 0;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
}
.rightContent .rightHeader {
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
}
.rightContent .rightHeader span {
  display: block;
  width: 100px;
  height: 20px;
  line-height: 20px;
  border-left: 4px solid #0077fb;
  margin-left: 15px;
  padding-left: 5px;
}
.rightContent .dataContent {
  width: 98%;
  margin: 0 auto;
  margin-top: 20px;
  background: #FFFFFF;
  overflow-y: auto;
}
.rightContent .dataContent .optContent {
  width: 95%;
  margin: 0 auto;
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.rightContent .dataContent .optContent .search {
  width: 120px;
  height: 30px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #000000;
  text-indent: 3px;
  cursor: pointer;
  outline: none;
  margin-right: 15px;
}
.rightContent .dataContent .optContent .opt {
  width: 95%;
  display: flex;
  align-items: center;
}
.rightContent .dataContent .optContent .opt .searchSelect {
  width: 120px;
  height: 30px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #000000;
  text-indent: 3px;
  cursor: pointer;
  outline: none;
}
.rightContent .dataContent .optContent .opt .searchValue {
  width: 150px;
  height: 26px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #000000;
  text-indent: 3px;
  margin-left: 10px;
  outline: none;
}
.rightContent .dataContent .optContent .opt .enterBtn {
  width: 60px;
  height: 24px;
  background: #2B79D9;
  color: #FFFFFF;
  border-radius: 3px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  margin-left: 15px;
  border: 1px #2B79D9 solid;
  cursor: pointer;
}
.rightContent .dataContent .optContent .opt .clear {
  background: #FEFEFE !important;
  color: #000000 !important;
  border: 1px #807575 solid;
}
.rightContent .dataContent .optContent .opt .DateInput {
  width: 120px;
  height: 25px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #000000;
  text-indent: 3px;
  outline: none;
}
.rightContent .dataContent .optContent .opt .lastBtn {
  margin-left: auto;
}
.rightContent .dataContent .optContent .opt .isDelete {
  background-color: red!important;
  border: 1px solid red!important;
}
.rightContent .dataContent .twoLine {
  margin-top: 5px;
}
.rightContent .dataContent .twoLine .enterBtn2 {
  width: 60px;
  height: 24px;
  background: #2B79D9;
  color: #FFFFFF;
  border-radius: 3px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  margin-right: 15px;
  border: 1px #2B79D9 solid;
  cursor: pointer;
}
.rightContent .dataContent table {
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 12px;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
.rightContent .dataContent table tr th {
  background: #FAFAFA;
  border: 1px solid #ececec;
  height: 40px;
  line-height: 40px;
  text-align: left;
  text-indent: 15px;
  border-top: none;
  border-left: none;
}
.rightContent .dataContent table tr td {
  border: 1px solid #e6e6e6;
  height: 35px;
  line-height: 35px;
  text-indent: 15px;
  border-top: none;
  border-left: none;
}
.rightContent .dataContent table tr .deleteFlag {
  color: #e4393c;
}
.rightContent .dataContent table tr .showInput {
  display: block;
}
.rightContent .dataContent table tr .hideInput {
  display: none;
}
.rightContent .dataContent table .total td {
  border: 1px solid #e6e6e6;
  border-top: none;
  border-left: none;
  background: #F2F2F2;
  height: 35px;
  line-height: 35px;
  text-indent: 15px;
}
.showSupplier .alertBox {
  position: fixed;
  width: 500px;
  height: 300px;
  background: #FFFFFF;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999999;
  padding: 5px 10px;
}
.showSupplier .alertBox .showContent {
  width: 100%;
  height: 200px;
  border: 1px solid #FeFeFe;
  overflow-y: scroll;
  overflow-x: hidden;
}
.showSupplier .alertBox .showContent li {
  list-style: none;
  width: 100px;
  height: 30px;
  background: #F00;
  padding: 2px;
  margin-right: 15px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.showSupplier .alertBox .inputContent {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.showSupplier .alertBox .inputContent input {
  width: 150px;
  height: 26px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #000000;
  text-indent: 3px;
  margin-left: 10px;
  outline: none;
}
.showSupplier .alertBox .inputContent .enterBtn {
  width: 60px;
  height: 24px;
  background: #2B79D9;
  color: #FFFFFF;
  border-radius: 3px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  margin-left: 15px;
  border: 1px #2B79D9 solid;
  cursor: pointer;
}
.showSupplier .mask {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99990;
}
