.pageFooter {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 6px;
  color: #A6A6A6;
}
.pageFooter ul li {
  float: left;
  width: 25px;
  height: 25px;
  border: 2px solid #F3F3F3;
  border-radius: 5px;
  font-size: 6px;
  text-align: center;
  line-height: 25px;
  margin-left: 5px;
  color: #A6A6A6;
}
.pageFooter ul .active {
  background: #2A79D8 !important;
  color: #FFFFFF !important;
}
.pageFooter span {
  margin-left: 15px;
  margin-right: 15px;
}
.pageFooter input {
  width: 25px;
  height: 25px;
  border: 2px solid #F3F3F3;
  border-radius: 5px;
  color: #A6A6A6;
}
